@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark cupcake;
 };
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; 
  prefersdark: false; 
  color-scheme: light; 

  --color-base-100: #F6F2EE;
  --color-primary: #FF5656;
  --color-secondary: #4B3B6C;
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(65% 0.25 160);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30);
}

.nav-link {
  padding: 10px 14px;
  border-radius: 6px;
  color: #374151; 
  transition: background-color 0.25s ease, color 0.25s ease;
}

.nav-link:hover {
  background-color: #f3f4f6; 
  color: #111827;
}

.nav-link.active {
  background-color: rgba(137, 51, 199, 0.664); 
  color: white;
  font-weight: 600;
}


